* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Denk One', sans-serif;
}

:root {
  --orange: rgb(255, 94, 0);
  --black: black;
  --returnButtonColor: black;
}

body {
  height: 100vh;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  color: var(--black);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  font-weight: bold;
  -webkit-box-shadow: 0 0.01em 1em 0.4em var(--black);
          box-shadow: 0 0.01em 1em 0.4em var(--black);
}

.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5em;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.2rem;
  color: var(--black);
}

.header .fa-snowflake {
  font-size: 2.5em;
  color: var(--black);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  padding: 0 3em;
}

.search__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
  height: 15%;
  color: var(--black);
  margin-right: 2em;
}

.search__input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--orange);
  padding: 0 .5rem;
  z-index: 1;
}

.search__input-text {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 2;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 .5rem;
  pointer-events: none;
  color: var(--black);
  -webkit-transition: .5s;
  transition: .5s;
}

.search__input-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: .2rem;
  background-color: var(--black);
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.search__input:focus ~ .search__input-line,
.search__input:valid ~ .search__input-line {
  height: 100%;
}

.search__input:focus ~ .search__input-text,
.search__input:valid ~ .search__input-text {
  bottom: 100%;
}

.search__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 15%;
}

.search__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-shadow: 0.08em 0.08em 0.01em var(--black);
  background-color: var(--black);
  border-radius: .3em;
  color: var(--orange);
  font-size: 1.2em;
  line-height: 1;
  border: none;
  outline: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.search__button:hover, .search__button:focus {
  color: white;
}

.search__arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--black);
  color: var(--orange);
  border-radius: .1em;
  border: none;
  outline: none;
  font-size: 1.8em;
  font-weight: bold;
  margin-left: .2em;
  -webkit-transition: .5s;
  transition: .5s;
}

.search__arrow-button:hover, .search__arrow-button:focus {
  color: white;
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--orange);
}

.weather__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 0.01em 1em 0.4em var(--black);
          box-shadow: 0 0.01em 1em 0.4em var(--black);
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding: .5em;
}

.weather__header-text {
  font-size: 2.5em;
}

.weather__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  width: 100%;
  font-size: 1em;
  padding: 0 .5em;
  text-align: left;
}

.weather__icon-box, .weather__parameters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.weather__parameters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
}

.weather__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 50vh;
  height: 50vh;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 0 0.2em 0.001em #001030;
          box-shadow: 0 0 0.2em 0.001em #001030;
  border-radius: .4em;
  font-size: 2em;
  margin: .2em 0;
  padding-bottom: .1em;
}

.weather__temperature {
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 .12em black;
}

.weather__description {
  font-size: 1.8em;
  text-align: center;
}

.weather .fa-arrow-circle-left::before {
  position: absolute;
}

@media (orientation: landscape) {
  .fa-arrow-circle-left::before {
    color: var(--black);
    right: .1em;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 2.5rem;
  }
  .icon--arrow {
    display: none;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  html {
    font-size: 1.3rem;
  }
  .weather--font {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 2.1rem;
  }
  .weather__icon {
    width: 40vh;
    height: 40vh;
  }
}

@media (min-width: 1366px) and (orientation: landscape) {
  html {
    font-size: 2.3rem;
  }
}

@media (min-width: 1500px) and (orientation: landscape) {
  html {
    font-size: 1.8rem;
  }
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    width: 100%;
    padding: 0 10em;
  }
  .search__input-box {
    height: 10%;
  }
  .search__button-box {
    height: 10%;
  }
  .weather__info {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    padding: 0 8em;
  }
  .weather__icon {
    width: 50vh;
    height: 50vh;
  }
}

@media (orientation: portrait) {
  .weather__header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .weather__info {
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .weather__icon {
    width: 65vw;
    height: 65vw;
  }
  .weather__description {
    font-size: 1.7em;
  }
  .weather__icon-box, .weather__parameters {
    width: 100%;
  }
  .weather__parameters {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .weather__icon-box {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 6;
        -ms-flex: 6;
            flex: 6;
    padding: 1em 0;
  }
  .search__input-box {
    height: 10%;
    width: 80%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0;
  }
  .search__button-box {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 80%;
    height: 10%;
    margin-top: 4em;
    padding: 0;
  }
  .fa-arrow-circle-left::before {
    color: var(--returnButtonColor);
    right: .2em;
    top: .2em;
    font-size: 2.5rem;
  }
  .header--arrow {
    display: none;
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 375px) and (orientation: portrait) {
  html {
    font-size: 1.4rem;
  }
}

@media (min-width: 480px) and (orientation: portrait) {
  html {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 2.2rem;
  }
  .weather__icon {
    width: 50vw;
    height: 50vw;
  }
  .weather__header-text {
    font-size: 2rem;
  }
  .weather--font {
    font-size: 1.2em;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 2.5rem;
  }
  .weather__icon {
    width: 50vw;
    height: 50vw;
  }
  .weather__header-text {
    font-size: 2.5rem;
  }
  .weather .weather--font {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */