* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Denk One', sans-serif;
}


:root {
    --white: rgb(255, 253, 139);
    --black: black;
}


@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include flex();
    height: 100vh;
    background: linear-gradient(60deg, rgb(211, 211, 211), rgb(255, 243, 176),white, rgb(228, 214, 138), rgb(29, 27, 27))
}

.main {
    @include flex();
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--black);
    overflow: hidden;
}



.header {
    @include flex();
    width: 100%;
    min-height: 3em;
    font-weight: bold;
    box-shadow: 0 .01em 1em .4em var(--black);
    padding: 1em;
    &__icon {
        @include flex();
        margin: 0 .5em;
        transition-duration: 1s;
    }
    &__title {
        @include flex();
        font-size: 2.2rem;
        color: var(--black)
    }
    .fa-snowflake {
        font-size: 2.5em;
        color: var(--black)
    }
}


.search {
    @include flex();
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3em 2em;

    &__input-box {
        @include flex();
        width: 15em;
        position: relative;
        height: 2.5em;
        color: var(--black);
        margin: 2em 0;
    }
    &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 1.2em;
        font-weight: bold;
        color: var(--white);
        padding: 0 .5rem;
        z-index: 1;
    }
    
    &__input-text {
        position: absolute;
        bottom: 0;
        left: 0;
        line-height: 2;
        font-size: 1.2em;
        font-weight: bold;
        padding: 0 .5rem;
        pointer-events: none;
        color: var(--black);
        transition: .5s;
    }
    
    &__input-line {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: .2rem;
        background-color: var(--black);
        pointer-events: none;
        transition: .5s;
    }
    
    
    &__input:focus ~ &__input-line,
    &__input:valid ~ &__input-line {
        height: 100%;
    }
    
    &__input:focus ~ &__input-text,
    &__input:valid ~ &__input-text {
        bottom: 100%;
    }

    &__button-box {
        @include flex();
        width: 15em;
        height: 2.5em;
    }
    &__button {
        @include flex();
        height: 100%;
        flex: 3;
        text-shadow: .08em .08em .01em var(--black);
        background-color: var(--black);
        border-radius: .3em;
        color: var(--white);
        font-size: 1.2em;
        line-height: 1;
        border: none;
        outline: none;
        transition: .5s;
        cursor: pointer;
        &:hover, &:focus {
           color: white;
        }
    }
    &__arrow-button {
        @include flex();
        height: 100%;
        flex: 1;
        background-color: var(--black);
        color: var(--white);
        border-radius: .1em;
        border: none;
        outline: none;
        font-size: 1.8em;
        font-weight: bold;
        margin-left: .2em;
        transition: .5s;
        cursor: pointer;
        &:hover, &:focus {
            color: white;
        }
    }
}


.weather {
    @include flex();
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg, rgb(211, 211, 211), rgb(255, 243, 176),white, rgb(228, 214, 138), rgb(29, 27, 27));

    &__header {
        position: relative;
        @include flex();
        box-shadow: 0 .01em 1em .4em var(--black);
        width: 100%;
        min-height: 3em;
        font-weight: bold;
        text-align: center;
        padding: 1em;
    }

    &__header-text {
        font-size: 2.5em;
    }
    &__info {
        position: relative;
        @include flex();
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        font-size: 1em;
        padding: 0 .5em;
    }

    &__parameters {
        position: relative;
        @include flex();
        flex-direction: column;
        font-size: 1em;
        margin: 1em;
    }

    &__icon {
        position: relative;
        @include flex();
        align-items: flex-end;
        width: 6em;
        height: 6em;
        background-position: center;
        background-size: cover;
        border-radius: .4em;
        font-size: 2em;   
        padding-bottom: .1em;
        margin: 1em;
    }

    &__temperature {
        font-size: 1.5em;
        color: white;
        text-shadow: 0 0 .12em black;
    }

    &__description {
        font-size: 1.8em;
        text-align: center;
    }

    .fa-arrow-circle-left::before {
        position: absolute;
        cursor: pointer;
    }
}


@media (min-width: 600px) {
    
    .header {
        &__title {
            font-size: 3.5em;
        }

        .fa-snowflake {
            font-size: 3.5em;
        }
    }
    .search {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        &__button-box {
            margin: 0 .5em;
        }
        &__input-box {
            margin: 0 .5em;  
        }
    }
    .weather {
        font-size: 1.2rem;
    }
}

@media (min-width: 800px) {
    .search {
        &__input-box {
            width: 22em;
        }
    }
    .weather {
        &__parameters {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 1200px) {
   .main, .weather {
       width: 1200px;
       max-height: 700px;
       box-shadow: inset -.2em .2em 1em .1em rgb(0, 0, 0);
       overflow: hidden;
   }
   .weather {
       font-size: 1.6rem;
   }
}

@media (orientation: landscape) {
    .fa-arrow-circle-left::before {
        color: var(--black);
        right: .7em;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 3.5rem;
    }
    .icon--arrow {
        display: none;
    }
}
@media (orientation: portrait) {
    .fa-arrow-circle-left::before {
        color: var(--black);
        right: .2em;
        top: .2em;
        font-size: 2.5rem;
    }
    
    .header--arrow {
        display: none;
    }
}